<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" routerLink="">
            <img src="../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            Black Desert Online Trading Data
        </a>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1 active">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search">Trading Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>